.box-wrap{
  height:500px;
  width: 800px;
  outline: 1px solid black;
  margin: 0 auto;
  margin-top: 50px;
}

.inner-box-wrap-1 {
  outline: 1px solid black;
  height:200px;
  width: 100%;
  font-size: 0;
}

.box1a {
  width:50%;
  height:200px;
  display: inline-block;
  background-color: green;
}

.box1b {
  width:50%;
  height:200px;
  display: inline-block;
  background-color: blue;
}


.inner-box-wrap-2 {
  outline: 1px solid black;
  height:300px;
  width: 100%;
  font-size: 0;
}

.box2a {
  width:33.33333%;
  height:300px;
  display: inline-block;
  background-color: gray;

}

.box2b {
  width:33.33333%;
  height:300px;
  display: inline-block;
  background-color: black;
}

.box2c {
  width:33.33333%;
  height:300px;
  display: inline-block;
  background-color: orange;
}

.inner-box-wrap-1 > div, .inner-box-wrap-2 > div {
  outline: 1px solid black;
}




